/* Header */

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: #fff;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

nav.desktop-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav.desktop-navigation ul li:last-child {
  margin-right: 0;
}

nav.desktop-navigation ul li a {
  color: #333333;
  text-decoration: none;
}

.mobile-navigation {
  display: none;
}

@media (max-width: 480px) {
  header {
    padding: 1.5rem 1rem;
  }
  .desktop-navigation {
    display: none;
  }
  .mobile-navigation {
    display: block;
  }
}

/* Hero */

.hero {
  background-color: #333;
  color: #fff;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 20px; /* Adjust this margin as needed */
}

.hero .button {
  padding: 25px 40px;
  margin-top: 60px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .hero {
    padding: 4rem 2rem;
  }
  
  .hero h1 {
    font-size: 48px;
  }
}

/* Cards */

.content-wrapper {
  padding: 2rem 3rem;
  max-width: 1300px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 2rem 0;
}

.row .card {
  width: 33.33%;
  flex-grow: 0;
  margin: 0 1rem;
  position: relative;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 3rem;
}

.row .card:first-child {
  margin-left: 0;
}

.row .card:last-child {
  margin-right: 0;
}

.row .card--big {
  flex-grow: 1;
  flex-basis: calc(67% + 2rem);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BDBDBD;
  height: 15rem;
  width: 100%;
  font-size: 8rem;
}

.card h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.card p {
  font-size: 0.875rem;
}

.card-context-button {
  box-sizing: content-box;
  position: absolute;
  right: 0;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

@media (max-width: 480px) {
  .content-wrapper {
    padding: 2rem 1rem;
  }
  .row {
    flex-direction: column;
    margin: 0;
  }
  .row .card {
    width: 100%;
    margin: 1rem 0;
  }
}

/* Quote */

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 7.25rem;
  margin-top: 5rem;
}

.quote h2 {
  font-weight: 400;
  font-style: italic;
}

.quote h3 {
  font-size: 1.25rem;
}

.quote-image {
  width: 8.75rem;
  height: 8.75rem;
  background-color: #C4C4C4;
  border-radius: 100%;
}

@media (max-width: 480px) {
  .quote {
    margin-bottom: 4.25rem;
  }
}

/* Footer */

footer {
  background-color: #4f4f4f;
}

.footer-content {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem;
}

footer h2 {
  color: #FFF;
  margin-bottom: 1rem;
}

nav.desktop-navigation-footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav.desktop-navigation-footer ul li a {
  color: #FFF;
  text-decoration: none;
}

.about-us-text {
  margin-left: 12rem;
  color: #FFF;
  max-width: 19.5rem;
}

.about-us-text p {
  font-size: 1rem;
}

.social-media-icons {
  margin-left: 9rem;
}

.social-media-icons-wrapper {
  display: flex;
  gap: 2rem;
}

@media (max-width: 480px) {
  .footer-content {
    flex-direction: column;
    padding: 4.5rem 1rem;
    gap: 2rem;
  }
  nav.desktop-navigation-footer {
    display: none;
  }
  .about-us-text, .social-media-icons {
    margin-left: 0;
  }
}